AI -News -Summarizer.json
{
  "name": "AI -News -Summarizer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        -64
      ],
      "id": "43836832-8cf5-440e-8543-1eca12b71083",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://aibusiness.com/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -224,
        -64
      ],
      "id": "dd432745-175d-42a9-b6d6-2e6ed0accdd5",
      "name": "AI News Feed"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        176,
        -48
      ],
      "id": "f9df9845-1708-4878-b621-6d1079297405",
      "name": "data aggregater"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI news summarizer assistant.\nAnalyze the news articles and create an email summary.\n\nFor each article:\nCreate a headline in ALL CAPS\nWrite a 2-3 sentence summary\nInclude the article link\n\nFormat as:\nSubject: Today's AI News\n\nHi there,\n\nHere's your AI news summary:\n\nHEADLINE IN CAPS\nSummary of what happened and why it matters...\nRead more: [link]\n\nBest regards,\nAI News Bot"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        336,
        -64
      ],
      "id": "6f6618a7-154e-4c78-ae35-bb86a881ff12",
      "name": "AI summerarization Model"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        272,
        144
      ],
      "id": "8ab2f5a0-e462-4ac2-9c10-6981b7cb6302",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2S25IzdRwT2dhuzQ",
          "name": "Google Gemini(PaLM) Api account 9164"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "vajjalakshmanamurthy@gmail.com",
        "subject": "Today's AI news for you",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        688,
        -64
      ],
      "id": "a8d2baa8-34d1-4be8-bbb4-5e836ce7fdf3",
      "name": "Send a message",
      "webhookId": "a11fb95f-489d-4bda-a7a9-dc1e8df62c1c",
      "credentials": {
        "gmailOAuth2": {
          "id": "He1nPpx5Byjgqyfc",
          "name": "Gmail account 2452"
        }
      }
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -224,
        112
      ],
      "id": "2514b495-4172-4095-980b-2cbdaa07a475",
      "name": "tech updates feed"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -16,
        -64
      ],
      "id": "5f4a7ae4-56ce-44f4-ad65-1a6ab773518d",
      "name": "data merger"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "tech updates feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI News Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI News Feed": {
      "main": [
        [
          {
            "node": "data merger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data aggregater": {
      "main": [
        [
          {
            "node": "AI summerarization Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI summerarization Model",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI summerarization Model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tech updates feed": {
      "main": [
        [
          {
            "node": "data merger",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "data merger": {
      "main": [
        [
          {
            "node": "data aggregater",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0c2e2737-8bd5-4e11-b6e9-823e5a7f94ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "T07eBrVUE1quGJZ6",
  "tags": []
}